{% extends 'base.html' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="text-center my-4">Iniciar Sesión</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        </form>
        <div class="text-center mt-3">
            <p>¿No tienes una cuenta? <a href="{% url 'signup' %}">Registrarse</a></p>
        </div>
    </div>
{% endblock %}
