{% extends 'base.html' %}

{% block title %}Editar Producto{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <img src="https://i.imgur.com/ZZZLwVj.png" alt="Logo" class="img-fluid mb-4 rounded-circle" style="max-width: 150px;">
    </div>

    <h2 class="text-center mb-4">Editar Producto</h2>

    <form method="post" class="mx-auto" style="max-width: 500px;">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-warning">Actualizar</button>
    </form>

    <div class="text-center mt-3">
        <a href="{% url 'listar_productos' %}" class="btn btn-link">Volver a Lista de Productos</a>
    </div>
</div>
{% endblock %}
