{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h2 class="mb-4">Bienvenido al sistema de gestión de productos</h2>
        <ul class="list-unstyled">
            <li>
                <a class="btn btn-primary btn-lg m-2" href="{% url 'crear_producto' %}">
                    <i class="bi bi-plus-circle"></i> Crear Producto
                </a>
            </li>
            <li>
                <a class="btn btn-secondary btn-lg m-2" href="{% url 'listar_productos' %}">
                    <i class="bi bi-eye"></i> Visualizar Productos
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
